/* Email styles */

body {
	background-color: white;
	font-family: FiraSansMedium;
	color: grey;
	margin-left: 100px;
}
#container{	
	margin:0 auto;
	background:#fff;
	width:800px;
	padding:20px 40px;
	text-align:left;
}

.active {
	color:blue;
}
/* Sidebar styles */
.sidebar {
	/*background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);*/
	/*background: #171718; */
	font-family: FiraSansMedium;
	background: #121212;
	margin-left: -100px;
	top: 0px;
	left: 100px;
	height: 100%;
	width: 90px;
	position: fixed;
	overflow: hidden;
	border-right: 1px solid darkgrey; 
	color: white;
}

.sidebar-app-container {
	font-size: 12px;
}

.sidebar-app {
	margin-top: 30px;
	text-align: center;
}

.sidebar-app:hover {
	cursor: pointer;
}

/* Application styles */

.app-header {
	margin: 15px;
	font-size: 12px;
}

.app-container {
	font-size: 15px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.app-component {
	padding: 5px;
	border: 1px solid #0fabca;
}

.sideBarLink {
	color: white;
	text-decoration:none;
}

.sideBarLink:hover {
	color: rgba(133, 128, 247, 1);
	font-weight: bold;
	text-decoration:none;
}

.sideBarLink:active {
	color: rgba(133, 128, 247, .8);
	font-weight: bold;
	text-decoration:none;
}

/* Feed Styles */

.message {
	background: white;
	font-size: 15px;
	//border: 1px solid darkgrey;
	width: 500px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 2px 2px darkgrey;
}

.message_header {
	padding: 15px;
	border-bottom: 1px solid darkgrey;
}

.message_content {
	padding: 15px;
}
