<head>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="../js/buyStocksHandler.js"></script>
	<link rel="stylesheet" href="css/screen.css" media="screen" />
</head>
{% extends "MainStockPage.html" %}
{% block content %}
	
	<div class="querystocksform">	
		<!-- <h3><span>Contact Us</span></h3> Makes a green title bar-->
		<fieldset>
			<input placeholder="Enter Symbol" class="inputStyle" type="text" name="name" id="priceSearchInput" size="30"/>
			<button id="querystockbutton" type="button">QUERY</button>
			<div id="retriedStockHolder" style="display:none"><input placeholder="Price" class="inputStyle" type="text" name="name" id="priceRetrieved" size="30"/></div>
		</fieldset>					
	</div>

	<form id="form2">	
		<!-- <h3><span>Contact Us</span></h3> Makes a green title bar-->
		<fieldset>
			<p class="first">
				<input class="inputStyle" placeholder="Quote" type="text" name="name" id="tickerInput" size="30"/>
			</p>
			<p>
				<input class="inputStyle" placeholder="Number of Shares" type="text" name="email" id="quantitySharesInput" size="30"/>
			</p>
			<p class="submit"><button id="buystocksbutton" type="submit">BUY</button></p>					
		</fieldset>					
	</form>	
{% endblock %}