<html>
<head>
    <link href="/css/login.css" rel="stylesheet">
</head>

<body>

    <section class="login">
    
    	<div class="titulo">knotPortfolio</div>
    
    	<form method="post">
    
        	<input type="text" required title="Username required" name="username" placeholder="User Name" autocomplete='off' data-icon="U">
    
            <input type="password" required title="Password required" name="password" placeholder="Password" autocomplete='off' data-icon="x">
    
            <div class="olvido">
    
            	<div class="col"><a href="/" title="Ver Carásteres"></a></div>
    
            </div>
    
            <input type="submit" class="enviar" value="Log In">
    
        </form>
    
    </section>

</body>