<head>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="../js/portfolioScript.js"></script>
	<link rel="stylesheet" href="/css/table.css">
</head>

{% extends "MainStockPage.html" %}
{% block content %}

<div class="portfolioOuterContainer">
	<div class="cash_container">
		<div class="portfolio_inner_container"></div>
	</div>
	<p class="cash_text" id="cashTextPTag">Total Portfolio: <p id="portVal">{{cash}}</p></p>
</div>


<div class="cash_container">
	<div class="cash_inner_container"></div>
</div>
<p class="cash_text" id="cashTextPTag">Cash: <p id="cashVal">{{cash}}</p></p>

<table id="rounded-corner">
	<thead>
		<tr>
			<th scope="col" class="rounded-company">Company</th>
			<th scope="col" class="rounded-q2">BookValue</th>
			<th scope="col" class="rounded-q3">MarketValue</th>
			<th scope="col" class="rounded-q1">Bought At</th>
			<th scope="col" class="rounded-q5">Price</th>
			<th scope="col" class="rounded-q4">Percent Gain</th>
 		</tr>
	</thead
	<tfoot>
		<!-- <tr>
			<td colspan="4" class="rounded-foot-left">
				Quote: <input id="tickerInput" type="text">
				Shares: <input id="numberOfSharesInput" type="text">
				<button type="button" id="addStockButton">Add</button>
			</td>
			<td class="rounded-foot-right">&nbsp;</td>
		</tr> -->
	</tfoot>
	<tbody id="tableBody">
	</tbody>
</table>
{% endblock %}