<html>
<head>
    <link href="/css/login.css" rel="stylesheet">
</head>

<body>

    <section class="login">
    
    	<div class="titulo">knot Register</div>
    
    	<form method="post" enctype="application/x-www-form-urlencoded">
    
        	<input type="text" name="username" required title="Username required" placeholder="Username" data-icon="U">
    
            <input type="password" required title="Password required" name="password" placeholder="Password" data-icon="x">
    
            <div class="olvido">
    
            </div>
    
            <input type="submit" class="enviar" value="Register">
    
        </form>
    
    </section>

</body>