<head>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="../js/sellStocksHandler.js"></script>
	<link rel="stylesheet" href="css/screen.css" media="screen" />
</head>
{% extends "MainStockPage.html" %}
{% block content %}
	<form id="form2">	
		<!-- <h3><span>Contact Us</span></h3> Makes a green title bar-->
		<fieldset>
			<p class="first">
				<label for="name">Ticker Symbol</label>
				<input type="text" name="name" id="tickerSell" size="30" />
			</p>
			<p>
				<label for="email">Number of Shares</label>
				<input type="text" name="email" id="numberSharesSell" size="30" />
			</p>
			
			<p class="submit"><button id="sellstocksbutton" type="submit">SELL</button></p>		
						
		</fieldset>					
	</form>	
{% endblock %}