<head>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="../js/sellStocksHandler.js"></script>
	<link rel="stylesheet" href="css/screen.css" media="screen" />
	<link rel="stylesheet" href="/css/table.css">
</head>
{% extends "MainStockPage.html" %}
{% block content %}
	<form id="form2">	
		<!-- <h3><span>Contact Us</span></h3> Makes a green title bar-->
		<fieldset>
			<p class="first">
				<label for="name">Ticker Symbol</label>
				<input type="text" name="name" id="tickerSell" size="30" />
			</p>
			<p>
				<label for="email">Number of Shares</label>
				<input type="text" name="email" id="numberSharesSell" size="30" />
			</p>
			
			<p class="submit"><button id="sellstocksbutton" type="submit">SELL</button></p>		
						
		</fieldset>					
	</form>	

	<table id="rounded-corner">
		<thead>
			<tr>
				<th scope="col" class="rounded-company">Company</th>
				<th scope="col" class="rounded-q2">Money Made</th>
				<th scope="col" class="rounded-q3">Percent Gain</th>
				<th scope="col" class="rounded-q1">Price</th>
				<th scope="col" class="rounded-q5">Number Of Shares</th>
	 		</tr>
		</thead
		
		<tfoot>
		</tfoot>

		<tbody id="tableBody">
		</tbody>
	</table>

{% endblock %}